[Unit] 
Description=API AOTI 
Documentation=https://www.aoti.com.br 
After=network.target 

[Service] 
#Type=forking
Type=simple
User=root
Group=root
LimitNOFILE=infinity
LimitNPROC=infinity 
LimitCORE=infinity 

Restart=on-failure 

WorkingDirectory=/opt/aoti
ExecStart=/opt/aoti/api_aoticombr start

[Install] 
WantedBy=multi-user.target