[Unit] 
Description=API CURSO GO LANG 
Documentation=https://www.youtube.com.br/@DevRaiz 
After=network.target 

[Service] 
#Type=forking
Type=simple
User=root
Group=root
LimitNOFILE=infinity
LimitNPROC=infinity 
LimitCORE=infinity 

Restart=on-failure 

WorkingDirectory=/opt/curso
ExecStart=/opt/curso/SrvApi start

[Install] 
WantedBy=multi-user.target